{# Entries #}
{% set exportSection = craft.request.getParam('exportSection') %}
{% set exportEntryType = craft.request.getParam('exportEntryType') %}

<form method="post" class="centered" accept-charset="utf-8">
    <input type="hidden" name="action" value="export/download">
    <input type="hidden" name="type" value="{{ exportType }}">
    <input type="hidden" name="section" value="{{ exportSection }}">
    <input type="hidden" name="entrytype" value="{{ exportEntryType }}">
    
    {% set entrytypes = craft.sections.getSectionById(exportSection).getEntryTypes() %}
            
    <p>{{ "Choose which fields you want to export."|t }}</p>
    
    <table class="data">
{% for entrytype in entrytypes if entrytype.id == exportEntryType %}
    {% set staticfields = {
        "elementId": "ID"|t,
        "title": entrytype.hasTitleField ? entrytype.titleLabel : false,
        "slug": "Slug"|t,
        "authorId": "Author"|t,
        "postDate": "Post Date"|t,
        "expiryDate": "Expiry Date"|t,
        "enabled": "Enabled"|t,
        "status": "Status"|t
    } %}
    {% for handle, name in staticfields if name %}
        <tr>
            <td>
                <div class="field">
                    <div class="heading">
                        <label>{{ name }}</label>
                    </div>
                </div>
            </td>
            <td>
                {{ forms.checkboxField({
                    label: 'Include in export'|t,
                    instructions: "This value will be included in the export file."|t,
                    name: "fields[" ~ handle ~ "]",
                    checked: loop.index == 2
                }) }}
            </td>
        </tr>
    {% endfor %}
    {% for tab in craft.fields.getLayoutById(entrytype.fieldLayoutId).getTabs() %}
        {% for field in tab.getFields() %}
        {% set f = field.getField() %}
        <tr>
            <td>
                <div class="field">
                    <div class="heading">
                        <label>{{ f.name }}</label>
                    </div>
                </div>
            </td>
            <td>
                {{ forms.checkboxField({
                    label: 'Include in export'|t,
                    instructions: "This value will be included in the export file."|t,
                    name: "fields[" ~ f.handle ~ "]",
                    checked: true
                }) }}
            </td>
        </tr>
        {% endfor %}
    {% endfor %}
{% endfor %}
        <tr>
            <td colspan="2" style="border-bottom: none"><input type="submit" class="btn submit" value="{{ 'Export'|t }}"></td>
        </tr>
    </table>
</form>