<tbody class="type category">
    <tr class="exportCategoryGroup">
        <td>
            <div class="field">
                <div class="heading">
                    <label>{{ "Group"|t }}</label>
                    <div class="instructions">
                        <p>{{ "Choose the category group you want to export from."|t }}</p>
                    </div>
                </div>
            </div>
        </td>
        <td>
            <div class="field">
                <div class="input">
                    <div class="select">
                        <select name="export[elementvars][group]" id="exportCategoryGroup" disabled>
                        {% for group in craft.export.getGroups('Category') %}
                            <option value="{{ group.id }}">{{ group.name }}</option>
                        {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
        </td>
    </tr>
</tbody>
