<tbody class="type user">
    <tr class="exportUserGroups">
        <td>
            <div class="field">
                <div class="heading">
                    <label>{{ "Group"|t }}</label>
                    <div class="instructions">
                        <p>{{ "Choose the groups you want to export from."|t }}</p>
                    </div>
                </div>
            </div>
        </td>
        <td>
        {% for group in craft.export.getGroups('User') %}
            {{ forms.checkboxField({
                label: group.name,
                name: "export[elementvars][groups][]",
                checked: true,
                value: group.id,
                disabled: true
            }) }}
        {% endfor %}
        </td>
    </tr>
</tbody>
