{% set sections = craft.import.getGroups('Entry') %}
<tbody class="type entry">
    <tr class="exportSection">
        <td>
            <div class="field">
                <div class="heading">
                    <label>{{ "Section"|t }}</label>
                    <div class="instructions">
                        <p>{{ "Choose the section you want to export from."|t }}</p>                
                    </div>
                </div>
            </div>
        </td>
        <td>
            <div class="field">
                <div class="input">
                    <div class="select">
                        <select name="export[elementvars][section]" id="sections" disabled>
                        {% for section in sections %}
                            <option value="{{ section.id }}" data-type="{{ section.type }}">{{ section.name }}</option>
                        {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
        </td>
    </tr>
    <tr class="exportEntryType">
        <td>
            <div class="field">
                <div class="heading">
                    <label>{{ "Entrytype"|t }}</label>
                    <div class="instructions">
                        <p>{{ "Choose the entrytype you want to export from."|t }}</p>                
                    </div>
                </div>
            </div>
        </td>
        <td>
            <div class="field">
                <div class="input">
                    <div class="select">
                        <select name="export[elementvars][entrytype]" id="entrytypes" disabled>
                            <option value="">{{ "All"|t }}</option>
                        {% for entrytype in sections[0].getEntryTypes() %}
                            <option value="{{ entrytype.id }}">{{ entrytype.name }}</option>
                        {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
        </td>
    </tr>
    <tr class="exportStructure" style="display: none">
        <td>
            <div class="field">
                <div class="heading">
                    <label>{{ "Structure options"|t }}</label>
                    <div class="instructions">
                        <p>{{ "How do you want to export this structure?"|t }}</p>                
                    </div>
                </div>
            </div>
        </td>
        <td>
        {{ forms.checkboxField({
            label: 'Collapsed'|t,
            instructions: 'This will display all data on every row, with parents and children collapsed.'|t,
            name: "export[elementvars][structure]",
            checked: true,
            value: 1,
            disabled: true
        }) }}
        </td>
    </tr>
</tbody>