{% extends "_layouts/cp" %}

{% set title = "Export"|t %}

{% includeJsResource 'export/lib/jquery-ui.min.js' %}
{% includeJsResource 'export/js/export.js' %}

{% import "_includes/forms" as forms %}

{% set content %}
    <form method="post" action="" class="centered" accept-charset="utf-8">
        <input type="hidden" name="action" value="export/download">
        
        {% for key, value in export if key != 'elementvars' %}
            <input type="hidden" name="export[{{ key }}]" value="{{ value }}">
        {% endfor %}
        
        {% for key, value in export.elementvars %}
            {% if value is iterable %}
                {% for subvalue in value %}
                    <input type="hidden" name="export[elementvars][{{ key }}][]" value="{{ subvalue }}">
                {% endfor %}
            {% else %}
                <input type="hidden" name="export[elementvars][{{ key }}]" value="{{ value }}">
            {% endif %}
        {% endfor %}
        
        <p>{{ "Choose which fields you want to export."|t }}</p>
        
        <table class="data fullwidth sortable">
            <tbody>
        {% for fields in craft.export.getFields(export.type) %}
            {% for handle, name in fields.static if name %}
                <tr>
                    <td>
                        <div class="field">
                            <div class="heading">
                                <label>{{ name }}</label>
                            </div>
                        </div>
                    </td>
                    <td>
                        {{ forms.checkboxField({
                            label: 'Include in export'|t,
                            instructions: "This value will be included in the export file."|t,
                            name: "fields[" ~ handle ~ "]",
                            checked: loop.index == 2
                        }) }}
                    </td>
                </tr>
            {% endfor %}
            {% for field in fields.layout %}
                {% set f = field.getField() %}
                <tr>
                    <td>
                        <div class="field">
                            <div class="heading">
                                <label>{{ f.name }}</label>
                            </div>
                        </div>
                    </td>
                    <td>
                        {{ forms.checkboxField({
                            label: 'Include in export'|t,
                            instructions: "This value will be included in the export file."|t,
                            name: "fields[" ~ f.handle ~ "]",
                            checked: true
                        }) }}
                    </td>
                </tr>
            {% endfor %}
        {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="2" style="border-bottom: none"><input type="submit" class="btn submit" value="{{ 'Export'|t }}"></td>
                </tr>
            </tfoot>
        </table>
        
    </form>
{% endset %}