{% extends "_layouts/cp" %}

{% set title = "Export"|t %}

{% includeJsResource 'export/js/export.js' %}

{% import "_includes/forms" as forms %}

{% set content %}
    <form method="post" action="" class="centered" accept-charset="UTF-8" enctype="multipart/form-data">
        <input type="hidden" name="action" value="export/map">
        
        {% set elementTypes = {} %}
        {% for elementType, properties in craft.elements.getAllElementTypes if craft.export.getGroups(elementType) %}
            {% set elementTypes = elementTypes|merge([elementType]) %}
        {% endfor %}
        
        <table class="data">
            <thead class="exportType">
                <tr>
                    <td>
                        <div class="field">
                            <div class="heading">
                                <label>{{ "Element type"|t }}</label>
                                <div class="instructions">
                                    <p>{{ "Choose the element type you want to export from."|t }}</p>                
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="field">
                            <div class="input">
                                <div class="select">
                                    <select name="export[type]" id="types">
                                    {% for elementType in elementTypes %}
                                        <option value="{{ elementType }}">{{ elementType }}</option>
                                    {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </thead>
            
            {% for elementType in elementTypes %}
                {% include 'export/types/' ~ elementType|lower ~ '/_source' %}
            {% endfor %}
            
            <tfoot>
                <tr>
                    <td colspan="2" style="border-bottom: none"><input type="submit" class="btn submit" value="{{ 'Next'|t }}"></td>
                </tr>
            </tfoot>
        </table>
        
    </form>
{% endset %}